*{background-color:#ffb3b3;
}
#p1{color:#000099;
font-family: Lucida Console;
}
h2{font-size: 40;
color:#ff1a1a;}
#demo1{text-align: center;
}
#demo2{text-align: center;
}
#demo3{text-align: center;
}
#demo4{text-align: center;
}
#demo5{text-align: center;
}
#demo6{text-align: center;
}
#demo7{text-align: center;
}
#demo8{text-align: center;
}
